## ignore data form HSLU and examples
hslu-data
intro

## ignore java specific files
*.class

## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out

## ignore the LaTeX-Data from github.com/luxeria/luxtex
luxtex
documentation/luxtex
